<div class="booking-card">
  <div class="card-header">
    <div class="guest-section">
      <div class="avatar">{{ customerData.name.charAt(0).toUpperCase() }}</div>
      <img 
    *ngIf="customerData.foreignClient" 
    src="../../../assets/Icons/foreignClient.png" 
    alt="Foreign Client" 
    class="foreign-icon"
  />
      <div class="guest-info">
        <h3 class="guest-name">{{ customerData.name }}</h3>
        <p class="guest-location">{{ customerData.location }}</p>
      </div>
    </div>
    <div class="guest-meta">
      <span class="guest-id"># {{ customerData.customerId }}</span>
    </div>
  </div>

  <div class="card-body">
    <div class="info-row">
      <span class="label">Check-In</span>
      <span class="value">{{ formatedCheckInDateTime }}</span>
    </div>

    <div class="info-row">
      <span class="label">Room No.</span>
      <span class="value">{{ customerData.roomNumbers}}</span>
    </div>

    <div class="info-row">
      <span class="label">Per Day Bill</span>
      <span class="value">₹ {{ customerData.perDayBill }}</span>
    </div>

    <div class="info-row">
      <span class="label">Bookings</span>
      <span class="value">{{ customerData.totalBookings }}</span>
    </div>
  </div>

  <div class="card-footer">
    <button mat-stroked-button class="btn-details" (click)="openViewModal()">
      <mat-icon fontIcon="info"></mat-icon>
      View
    </button>

    <button mat-flat-button class="btn-checkout" (click)="openCheckoutModal()">
      <mat-icon fontIcon="logout"></mat-icon>
      Checkout
    </button>
  </div>
</div>
