@import '../../../styles/variables';

.navbar {
  background: $secondary-gradient;
  color: $text-light;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 4% 3% 2%;
  box-sizing: border-box;

  div:last-child{
    cursor: pointer;
  }
}