@import '../../../styles/variables';

.booking-card {
  background: #fff;
  border-radius: 16px;
  border: 1px solid $border-color-dark;
  padding: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 40vw;

  &:hover{
    border-color: #5d06e9;
    box-shadow: 0 0 0 3px rgba(93, 6, 233, 0.15);
  }

  /* Header */
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .guest-section {
      display: flex;
      align-items: center;
      gap: 1rem;

      .avatar {
        background: $primary-gradient;;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 1.2rem;
        box-shadow: 0 4px 10px rgba(124, 58, 237, 0.4);
      }
    }

    .guest-info {
      .guest-name {
        font-size: 1.2rem;
        font-weight: 700;
        color: $text-color-dark;
        margin: 0;
      }

      .guest-location {
        font-size: 0.9rem;
        color: $text-color-muted;
        margin: 0.2rem 0 0.5rem 0;
      }
    }

    
    .guest-id {
        font-size: 0.85rem;
        color: #4b5563;
        background: $background-lighter;
        padding: 0.35rem 0.7rem;
        border-radius: 8px;
        font-weight: 600;
      }
  }

  
  .card-button {
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
    border-top: 1px solid $border-color;
    padding-top: 0.5rem;

    .btn-details {
      font-weight: 600;
      color: $primary-color;
      border: 2px solid $primary-color;
      border-radius: 10px;
      padding: 0.5rem 1.2rem;
      display: flex;
      align-items: center;
      gap: 0.4rem;
      background: #fff;
      transition: all 0.3s ease;

      &:hover {
        background: $primary-color;
        color: #fff;
      }
    }
  }

  .foreign-icon {
    width: 24px;
    height: 24px;
    margin-bottom: -30px;
    margin-left: -35px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding-top: 5px;
  }
}
