@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    scrollbar-width: thin;
}
body{
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
